* {
  box-sizing: border-box;
}

.arrow {
  font-size: 40px;
}

html {
  /* корневой размер шрифта */
  font-size: 15px;
}

body {
  /* чтобы приклеить footer к низу задаем всей страница flex с вертикальным ориентированием */
  display: flex;
  flex-direction: column;
  /* минимальный размер видимой области будет 100vh */
  min-height: 100vh;
  margin: 0;
  /* подключение шрифта к странице */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

header {
  /* приклеиваем header */

  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 8px 15px;
  background-color: #2b5e35;
  color: white;
}

.ring {
  width: 100%;
  height: 245px;
  gap: 10px;
  padding: 8px 15px;
  background-image: url("https://cdn.informator.ua/@prod/media/ua/2022/02/08/620264c16b96b7.88727528.jpg");
}

nav > a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

nav > span {
  cursor: pointer;
  font-size: 1.7rem;
}

nav > a:hover {
  text-decoration: underline;
}

main {
  padding: 8px 15px;
  /* за счет этого свойства main занимает все свободное пространство на странице, между header и footer даже если контента мало */
  flex: 1;
}

h1 {
  font-size: 1.2rem;
}

h3 {
  margin: 0;
  font-size: 40px;
}

p {
  font-size: 1, 5rem;
}

.grid-gallery {
  display: grid;
  /* адаптивная галерея с переносом резиновых карточек на следующие строки */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  gap: 5px;
}

.grid-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: black;
  padding: 18px;
}

/* этот контейнере - рамка / обертка для картинок  */
/* ей задан жесткий размер под который будет обрезаться любая картинка */
.img-wrapper {
  width: 100%;
  height: 200px;
}

.img-wrapper > img {
  /* за счет этих свойств картинка растягивается равномерно по размеру контейнера-родителя */
  object-fit: cover;
  /* приоритет top по вертикали  */
  /* центр по горизонтали */
  object-position: top center;
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  padding: 8px;
  background-color: #2b5e35;
  color: white;
  font-size: 0.8rem;

  grid-template-columns: 120px 120px 120px;
  align-items: start;
  justify-content: space-between;
}

.burger-menu {
  /* это свойство прячет элемент но оставляет его в потоке */
  /* visibility: hidden; */
  /* этим свойство мы прячем элемент и он исчезает из верстки */
  display: none;
}

.btn-container {
  margin-bottom: 15px;
}
.btn-container > button:hover {
  background-color: rgba(24, 25, 22, 0.292);
}

.btn-magic {
  background-color: rgb(254, 247, 145);
  color: rgb(125, 40, 17);
  text-shadow: 8px 9px 15px;
  text-decoration: rgb(82, 132, 116);
  text-align: center;
  font-style: italic;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif, bold;
}

.btn-dwarf {
  background-color: rgb(187, 180, 90);
  color: rgb(93, 55, 11);
  text-shadow: 8px 9px 15px;
  text-decoration: rgb(82, 132, 116);
  text-align: center;
  font-style: italic;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif, bold;
}

.btn-human {
  background-color: rgb(240, 126, 192);
  color: rgb(171, 22, 3);
  text-shadow: 8px 9px 15px;
  text-decoration: rgb(82, 132, 116);
  text-align: center;
  font-style: italic;
  font-size: 18px;

  font-family: "Times New Roman", Times, serif, bold;
}

.btn-hobbit {
  background-color: rgba(105, 186, 102, 0.601);
  color: rgb(5, 37, 23);
  text-shadow: 8px 9px 15px;
  text-decoration: rgba(44, 47, 140, 0.477);
  text-align: center;
  font-style: italic;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif, bold;
}

.btn-elf {
  background-color: rgb(199, 228, 216);
  color: rgb(8, 36, 160);
  text-shadow: 8px 9px 15px;
  text-decoration: rgb(243, 244, 202);
  text-align: center;
  font-style: italic;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif, bold;
}
.btn-id {
  background-color: rgba(185, 239, 177, 0.315);
  color: white;
  color: rgb(15, 47, 43);
  text-shadow: 8px 9px 15px;
  text-decoration: rgb(82, 132, 116);
  text-align: center;
  font-style: italic;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif, bold;
}

.btn-del {
  background-color: rgba(103, 157, 96, 0.315);
  color: white;
  color: rgb(24, 87, 79);
  text-shadow: 8px 9px 15px;
  text-decoration: rgb(82, 132, 116);
  text-align: center;
  font-style: italic;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif, bold;
}

.btn-container > button {
  border-radius: 5px;
  border: none;
  padding: 10px;
}

/* c помощью media queries можно указать css свойства которы будут срабатывать для устройств разной ширины */

@media (max-width: 740px) {
  /* header {
    background-color: rgb(189, 68, 68);
  } */

  nav > a {
    /* прячем все ссылки из меню */
    display: none;
  }

  .burger-menu {
    /* показываем иконку складного меню */
    display: block;
  }
}

@media (max-width: 634px) {
  .grid-gallery {
    grid-auto-rows: 500px;
  }

  .img-wrapper {
    width: 100%;
    height: 300px;
  }
}

.font-effect-fire-animation {
  color: rgb(198, 228, 224);
  text-shadow: 8px 9px 15px;
  text-decoration: rgb(82, 132, 116);
  text-align: center;
  font-style: italic;

  font-family: "Times New Roman", Times, bold, serif;
}

.side-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color:  #2b5e35;
  top:80px;
  right: 0px;
  width: 100%;
  

}

.side-menu-hide{
  display: none;

}
/* 634px */

.logo {
  background-image: url("images/ring2.jpg");
  background-size: cover;
  size: 40px 40px;
  width: 50px;
  height: 50px;
  position: sticky;
  margin: 8px;
  border-radius: 5px;
  border-color: #fcf014;
  border-style: double;
  border-radius: 15px;
  padding: 0px;
  z-index: 2;
  row-gap: 55px;
  justify-content: center;
}

.logoFooter {
  margin: 0px 15px 45px;
  width: 100%;
  height: 100%;
}

.span {
  justify-content: space-between;
  text-align: left;
  margin: 3px 9px 48px 9px;
  color: #fcf014;
}

.button:hover {
  background-color: red;
  border: #2b5e35;
  border: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.counter-container {
  text-align: right;
}

.counter-container > span {
  font-size: 23px;
  color: rgb(240, 248, 15);
  margin: 0px 4px;
  font-weight: bold;
}

.counter-container > button {
  font-size: 20px;
  border: none;
  border-radius: 5px;
  height: 26px;
  width: 35px;
  color: white;
  background-color: rgb(204, 164, 32);
}

.counter-container > button:hover {
  background-color: rgb(147, 150, 173);
}

form > button {
  border: none;
  background-color: #b50543;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
}

li:hover {
  cursor: pointer;
  color: #cf0c36;
}

.finished {
  color: #2e815e;
  text-decoration: line-through;
}

.clear-btn {
  background-color: #637c72;
}





.name-container {
  text-align: left;
  background: rgb(244, 226, 226);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nameInput {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.name-button {
  padding: 10px 20px;
  background-color: #a1afbd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.name-container > button:hover {
  background-color: rgb(147, 150, 173);
}

#name-result {
  margin-top: 20px;
  font-size: 1.2em;
}
